/* css styles */
/* Disable Quarto page grid */
.page-columns {
  display: block !important;
}

/* Remove column constraints */
.page-columns > * {
  grid-column: auto !important;
}
.quarto-title > h1.title {
  opacity: 0 !important;
  height:0;
}

main.content {
  max-width: none !important;
  width: 100% !important;
}

.home-banner {
  background-image: url("photos/HomePage/FireBannerMC.jpg");
  aspect-ratio: 3017 / 1296; 
  width: 100%;
  display: flex;                
  flex-direction: column;    
  line-height: 1.1;   
  justify-content: center; 
  align-items: center;
  text-align: center;
  color: white;
  vertical-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: grey;
}

.image-credit {
  text-align: right;
  font-size: 75%;
  opacity: 50%;
}

.contact {
  font-size: 200%;
  background-color: rgb(0,0,0,0.5);
  padding: 3%;
  width: fit-content;
  align-content: center;
  }